ion-buttons {
	img.seta-esquerda{
		margin-left: 10px;
	}
}

ion-content {
	ion-button.btn-search{
		margin-top: 10px;
		margin-bottom: 10px;
		--background: #6E726E;
	}
	
	ion-row.marginTop{
		margin-top: 50px;
	}
	

}