<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!--<ion-back-button></ion-back-button>-->
            <img class="seta-esquerda" (click)="voltarProdutos();" src="../../assets/icon/seta-esquerda.svg" width="25pt" height="25pt">
        </ion-buttons>
        
        <ion-title> <strong>Filtros</strong> </ion-title>


    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <!-- filtra por categoria -->
        <ion-row>
            <ion-col>
                <ion-item>

                    <ion-label position="floating">Categoria Filter</ion-label>
                    <ion-input [(ngModel)]="categoria" type="text" placeholder="entre com a categoria"></ion-input>

                </ion-item>

            </ion-col>
        </ion-row>

        <!-- botao que captura o vlaor da categoria escolhida e retorna uma lista na tela -->
        <ion-button class="btn-search" expand="block" type="button" (click)="search();">Filtrar Produto</ion-button>

        <!-- exibindo item na tela -->
        <ion-row class="marginTop" *ngIf="produtosList.length">
            <ion-col *ngFor="let p of produtosList">

                <ion-list id="lista-items">

                    <ion-item>
                        <ion-label><strong>Categória</strong> {{p.categoria}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label><strong>Nome Produto</strong> {{p.nome_produto}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label>
                            <strong>Preço R$</strong> {{p.preco_produto}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label><strong>Quantidade</strong> {{p.quantidade_produto}}</ion-label>
                    </ion-item>

                </ion-list>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>