<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Produtos</ion-title>

        <ion-buttons slot="end">
            <button (click)="addProdutos();" ion-button icon-only>
			  <ion-icon name="add-circle-outline"></ion-icon>
			</button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row *ngIf="listaProdutos.length">
            <ion-col *ngFor="let p of listaProdutos">

                <ion-list>

                    <ion-item>
                        <ion-label><strong>Categória</strong> {{p.categoria}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label><strong>Nome Produto</strong> {{p.nome_produto}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label>
                            <string>Preço R$</string> {{p.preco_produto}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label><strong>Quantidade</strong> {{p.quantidade_produto}}</ion-label>
                    </ion-item>

                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-item *ngIf="listaProdutos.length==0">
                <ion-label>Não há <em>produtos</em> cadastrados!</ion-label>
            </ion-item>
        </ion-row>
    </ion-grid>

</ion-content>