<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Produtos</ion-title>
        <ion-buttons slot="end">
            
            <img class="icon-add-plus" (click)="filtrarProdutos();" src="../../assets/icon/filter.svg" width="35pt" height="35pt">
            <img class="icon-add-plus" (click)="addProdutos();" src="../../assets/icon/add-full.svg" width="35pt" height="35pt">

        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row *ngIf="listaProdutos.length">
            <ion-col *ngFor="let p of listaProdutos">

                <ion-list>
                    
                    <ion-item >
                        <ion-label><strong>Categória</strong> {{p.categoria}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label><strong>Nome Produto</strong> {{p.nome_produto}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label>
                            <strong>Preço R$</strong> {{p.preco_produto}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label><strong>Quantidade</strong> {{p.quantidade_produto}}</ion-label>
                    </ion-item>

                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-item *ngIf="listaProdutos.length==0">
                <ion-label>Não há <em>produtos</em> cadastrados!</ion-label>
            </ion-item>
        </ion-row>

    </ion-grid>

</ion-content>